################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SENAC_PI_2025/FileContentIndex/5a224340-e66f-4906-a98b-06ba59092c75.vsidx
/.vs
